<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <title>{{titulo_pagina}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
      {{{body}}}
    
    <script src="javascript/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="javascript/main.js"></script>
  </body>
</html>
